
h1 {
	margin: 0;
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.card {
  height: 100%;
}

.content{
	margin-top: 20px;
}

.content h3 {
	display: inline-block;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

#view-more{
	float: right;
	top: 26.25px;
}